<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bare Bones</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/bare bones icon 150x.png" />

    @* iOS specific meta tags *@
    <meta name="apple-mobile-web-app-capable" content="yes">
    @*<meta name="viewport" content="width=device-width, user-scalable=no">*@
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <meta name="format-detection" content="telephone=no">

    @* iOS splash screen*@
    <link rel="apple-touch-startup-image" href="/bare-bones-splash-screen-640x.png" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/mmenu.js"></script>

    <script type="text/javascript">
        $(function () {
            $('nav#menu').mmenu();
        });

    </script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="page">
        <div id="header">
            <a href="#menu"></a>
            Bare Bones
        </div>
        <nav id="menu">
            <ul style="text-align: left;">
                <li>@Html.ActionLink("My Score Cards", "Index", "Card")</li>
                <li>@Html.ActionLink("Top Playaz", "HistoryCards", "Home")</li>
                <li>@Html.ActionLink("Today's Game", "Index", "Home")</li>
                <li><a href="#">-</a></li>
                <li><a href="#">-</a></li>
                <li><a href="mailto:upaelfid@gmail.com?subject=Disc Golf Card Suggestions&body=Could you add or change the following:">
                    Suggestions</a></li>
            </ul>
        </nav>
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        @RenderSection("featured", required: false)
        <section class="main-content clear-fix">
            @RenderBody()
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - Disc Golf Score Card</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
