@model DiscGolf.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}



<section id="loginForm" >

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-bottom:20px;">
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p style="display:inline; font-weight:bolder; margin-top:15px;">
        @Html.ActionLink("Register", "Register")</p><p style="display:inline;"> if you don't have an account.
    </p>
}
</section>

<div>
 <img src="http://gearinvent.com/img/gears-animation.gif" height="300px" width:"300px" />
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
