@model DiscGolf.Models.Card

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Card</legend>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.Name)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h1)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h1)
            @Html.ValidationMessageFor(model => model.h1)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h2)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h2)
            @Html.ValidationMessageFor(model => model.h2)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h3)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h3)
            @Html.ValidationMessageFor(model => model.h3)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h4)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h4)
            @Html.ValidationMessageFor(model => model.h4)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h5)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h5)
            @Html.ValidationMessageFor(model => model.h5)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h6)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h6)
            @Html.ValidationMessageFor(model => model.h6)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h7)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h7)
            @Html.ValidationMessageFor(model => model.h7)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h8)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h8)
            @Html.ValidationMessageFor(model => model.h8)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h9)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h9)
            @Html.ValidationMessageFor(model => model.h9)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h10)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h10)
            @Html.ValidationMessageFor(model => model.h10)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h11)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h11)
            @Html.ValidationMessageFor(model => model.h11)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h12)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h12)
            @Html.ValidationMessageFor(model => model.h12)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h13)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h13)
            @Html.ValidationMessageFor(model => model.h13)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h14)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h14)
            @Html.ValidationMessageFor(model => model.h14)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h15)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h15)
            @Html.ValidationMessageFor(model => model.h15)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h16)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h16)
            @Html.ValidationMessageFor(model => model.h16)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h17)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h17)
            @Html.ValidationMessageFor(model => model.h17)
        </div>

        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h18)
        </div>
        <div  style="visibility:hidden;"> 
            @Html.HiddenFor(model => model.h18)
            @Html.ValidationMessageFor(model => model.h18)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@*<div class="button">
    @Html.ActionLink("View Cards", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
