@model IEnumerable<DiscGolf.Models.Card>

@{
    ViewBag.Title = "Index";
    ViewBag.Game1 = "1 - 9";
    ViewBag.Game2 = "10 - 18";
}

<p class="btn" style="height:2em;">
    @Html.ActionLink("Create New Card", "Create")
</p>
<h2 style="margin-bottom:1em; background-color:lightgrey;">Your Cards</h2>

<table>
@foreach (var item in Model) {
     if(User.Identity.Name == item.Name){
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.h9)
        </th>

    </tr>

<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name) @ViewBag.Game1
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h9)
        </td>
       
                                         </tr>
    <tr>
            <td>
           @Html.DisplayFor(modelItem => item.Name) @ViewBag.Game2
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h18)
        </td>
        <tr>
        <td colspan="10">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new{@class="btn", @style="float:left; width:50%;"})

            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new{@class="btn", @style="float:left; width:45%;"})  
        </td>
        </tr>
    </tr>}
}

</table>
