@model IEnumerable<DiscGolf.Models.Card>
@{
    ViewBag.Title = "History Page";
    //This section probably should be in the controller. Anyhow...selects players with completed cards (only checks if the total is 0 or if the last hole is 0). this excludes dummy data r.Id=1 and r.Id=2. Excluded r.ID =31 per request
    var players = (from r in Model
                   where r.Id != 1 && r.Id != 2 && r.Id != 31 && r.h18 != 0
                   select new { Name = r.Name, pSum = r.h1 + r.h2 + r.h3 + r.h4 + r.h5 + r.h6 + r.h7 + r.h8 + r.h9 + r.h10 + r.h11 + r.h12 + r.h13 + r.h14 + r.h15 + r.h16 + r.h17 + r.h18, r.Id, r.ccID }).Distinct().ToList();
    //from players get their best score and the card id for their best score              
    var pMinCard = from p in players
                   group p by new { p.Name, p.ccID } into grp
                   let MinCard = grp.Min(g => g.pSum)
                   from p in grp
                   where p.pSum == MinCard && p.pSum != 0
                   select p;
    //join to best score and card Id to get full card data to display. Orders by course ID and best score ascending               
    var topCards = (from r in Model
                    orderby r.ccID, (r.h1 + r.h2 + r.h3 + r.h4 + r.h5 + r.h6 + r.h7 + r.h8 + r.h9 + r.h10 + r.h11 + r.h12 + r.h13 + r.h14 + r.h15 + r.h16 + r.h17 + r.h18) ascending
                    join p in pMinCard on r.Id equals p.Id
                    select r).Distinct();      
}
<h1>TOP CARDS</h1>
@foreach (var item in topCards)
{
    <table>
        <tr>
            <th colspan="5" style="margin-top: 4em;">
                @item.Name
            </th>
            <th colspan="5" style="margin-top: 4em;">
                @item.ccID
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 20%; font-weight: bolder; font-size: 3em;">
                @(@item.h1 + @item.h2 + @item.h3 + @item.h4 + @item.h5 + @item.h6 + @item.h7 + @item.h8 +
            @item.h9 + @item.h10 + +@item.h11 + @item.h12 + @item.h13 + @item.h14 + @item.h15 + @item.h16 + @item.h17 + @item.h18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h9)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.h10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h18)
            </td>
        </tr>
    </table>
}
