@model IEnumerable<DiscGolf.Models.Card>

@{
    ViewBag.Title = "History Page";
    var uniqueCards = (from r in Model
                      select new { Id=r.Id, uSum=r.h1+ r.h2+ r.h3+r.h4+ r.h5+ r.h6+ r.h7+ r.h8+r.h9+ r.h10+ r.h11+r.h12+r.h13+r.h14+ r.h15+ r.h16+r.h17+r.h18}).Distinct().ToList();

    var players = (from r in Model
                   select new { Name = r.Name, pSum = r.h1 + r.h2 + r.h3 + r.h4 + r.h5 + r.h6 + r.h7 + r.h8 + r.h9 + r.h10 + r.h11 + r.h12 + r.h13 + r.h14 + r.h15 + r.h16 + r.h17 + r.h18 }).Distinct().ToList();

    var pMinCard = from p in players
            group p by p.Name into grp
            let MinCard = grp.Min(g => g.pSum)
            from p in grp
            where p.pSum == MinCard
            select p;

    var uniqueIds = (from u in uniqueCards
                 join p in pMinCard on u.uSum equals p.pSum
                 select new{Id = u.Id}).Distinct();

    var topCards = (from r in Model
                     join p in uniqueIds on r.Id equals p.Id
                     select r).Distinct();      
}
<table>
    @foreach (var item in topCards)
    {
        <tr>
            <th colspan="10" style="margin-top: 4em;">
                @item.Name
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 20%; font-weight: bolder; font-size: 3em;">
                @(@item.h1 + @item.h2 + @item.h3 + @item.h4 + @item.h5 + @item.h6 + @item.h7 + @item.h8 +
            @item.h9 + @item.h10 + +@item.h11 + @item.h12 + @item.h13 + @item.h14 + @item.h15 + @item.h16 + @item.h17 + @item.h18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h9)
            </td>
            @*<td rowspan="2" style="font-size:.5em;" class="verticalText">
               @String.Format("{0:MMM dd yyyy}", item.gDate)
            </td>*@
        </tr>
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.h10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h18)
            </td>
        </tr>
       
        }

</table>
