@model IEnumerable<DiscGolf.Models.Card>
@{
    ViewBag.Title = "Home Page";
    ViewBag.Date = String.Format("{0:MMMM} {0:dd} {0:yyyy}", @DateTime.Now);
    var counter = 0;
}
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
    @foreach (var item in Model)
    {
        //Display only active cards
        if (String.Format("{0:dd/MM/yyyy}", item.gDate) == DateTime.Now.ToString("dd/MM/yyyy"))
        {
            //Add to the counter to remove placeholder
            counter++;
            //Begin Card
            <table>
        <tr>
            <th colspan="11" style="margin-top: 4em;">
                @item.Name
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 20%; font-weight: bolder; font-size: 3em;">
                @(@item.h1 + @item.h2 + @item.h3 + @item.h4 + @item.h5 + @item.h6 + @item.h7 + @item.h8 +
            @item.h9 + @item.h10 + +@item.h11 + @item.h12 + @item.h13 + @item.h14 + @item.h15 + @item.h16 + @item.h17 + @item.h18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h9)
            </td>
            <td rowspan="2" style="font-size: .5em;" class="verticalText">
                @String.Format("{0:MMM dd yyyy}", item.gDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.h10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h18)
            </td>
        </tr>
            @if (User.Identity.Name == item.Name && item.h18 == 0)
            {    <td colspan="11">@Html.ActionLink("UPDATE", "EditField", "Card", new { id = item.Id }, new { @class = "uk-width-1-1 uk-button uk-button-primary", @style = "float:center; width:100%;" })
               </td>
            }
            else
            {
            }
</table>
        }
        else{}
    }
    @if (counter == 0)
    {
         <p style="color:gray; font-size:4em; line-height:.8em;">Disc Golf </p>
         <p style="color:gray; font-size:4em; line-height:.8em;">Score keeper</p>
         @*<table style="margin-bottom:2em; margin-top:4em;">
        <tr>
            <th colspan="11" style="margin-top: 4em;">No Active Score Cards
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 20%; font-weight: bolder; font-size: 3em;">Sc
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td rowspan="2" style="font-size: .5em;">date
            </td>
        </tr>
        <tr>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
        </tr>
    </table>
        <table style="margin-bottom:3em;">
        <tr>
            <th colspan="11" style="margin-top: 4em;">No Active Score Cards
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width: 20%; font-weight: bolder; font-size: 3em;">Sc
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td rowspan="2" style="font-size: .5em;">date
            </td>
        </tr>
        <tr>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
            <td>h
            </td>
        </tr>
    </table>*@
     <div style="padding-top:2em; padding-bottom:1em;"><img src="~/Images/griffin-discgolf-banner.png" width="100%" /></div>
        <p style="color:gray; font-size:.6em;"><i>Showing Active Score Cards for @ViewBag.Date</i></p>
    }
